<html>

<head>
    <meta charset="UTF-8">
    <title>Invitation to collaborate</title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<h1>Hello</h1>
<p><br> {{name}} invited you to collaborate under project, visit <a href="{{ url }}/{{ uid }}/{{ token }}"
        target="_self">this</a>
    link to start working :) <br></p>
<h2>Doubts?</h2>
<p><br> Contact us:<br> <br> <a href="mailto:somemail@example.com" target="_self">somemail@example.com</a>&nbsp;</p>
<footer>Science team<br><a href="{{storefront_url}}">sciencecore.com</a></footer>
</body>

</html>